.title {
  margin-top: 0;
}

.buttons.buttons-right {
  justify-content: flex-end;
}

.log-form {
  width: 100%;
  background-color: black;
  color: #cc77ff;
  font-size: 0.9rem;
  font-family: "Antonio";
}

input[type="file"] {
  display: none;
}

.buttons button,
label {
  margin: 0 8px 16px 8px;
  width: 200px;
  height: 60px;
  padding: 24px 25px 10px 0;
  background-color: #c8f;
  border: none;
  border-radius: 26px;
  text-align: right;
  line-height: normal;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  font-family: "Antonio";
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons button.two-rows {
  font-size: 21px;
  padding-top: 2px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal-content {
  display: flex;
  bottom: 0;
  margin: 50px auto 0 auto;
  padding: 12px 0;
  background: linear-gradient(#78f 50%, #d44 50%);
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 40%;
  height: 20%;
}
.modal-content::before {
  content: "";
  background-color: #000;
  display: block;
  width: 5px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 25%;
  overflow: hidden;
}
.modal-content::after {
  content: "";
  background-color: #000;
  display: block;
  width: 2px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -1px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .modal-content {
    width: 80%;
    height: 30%;
  }
}

.modal-text {
  margin-bottom: 15px;
}

.footer {
  justify-content: center;
  background: none;
  margin-top: 40px;
}

.footer::before {
  height: auto;
}
