.stardate {
  margin-top: 0;
}

.buttons.edit-delete {
  justify-content: flex-end;
}

.log-form {
  width: 100%;
  background-color: black;
  color: #cc77ff;
  font-size: 0.9rem;
  font-family: 'Antonio';
}

footer {
  justify-content: center;
  background: none;
}

footer::before {
  height: auto;
}